[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pytest = "*"
requests = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
challenge_1 = "pytest -v challenge_1/tests"
